.form__field {
    width: 100%;
    height: 27px;
    margin: 0 0 29px;
    padding: 0 0 12px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .form__field::placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
  }

  .form__field::-webkit-input-placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
  }

  .form__field::-moz-placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
  }

  .form__field::-ms-input-placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
  }

.form__field:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
