.page {
  min-width: 880px;
  height: auto;
  background-color: #000000;
  margin:0 auto;
  font-family: 'Inter', 'Tahoma', 'Geneva', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 45px 0 24px;
  box-sizing: border-box;
}

/*@media screen and (max-width: 1232px) {
  .page {
    padding: 28px 48px 24px;
    min-width: 80%;
  }
}*/

@media screen and (max-width: 1120px) {
  .page {
    padding-right: 10px;
    padding-left: 10px;
    min-width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .page {
    min-width: 320px;
    padding: 28px 0 36px;
  }
}
