.element__vector {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  background-position: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 6px;
}

.element__vector:hover {
  opacity: .5;
  transition: opacity .5s ease .2s;
}
