.popup__submitbutton {
  width: 358px;
  height: 50px;
  margin: 48px 36px 37px;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.popup__submitbutton:hover {
  background-color: #000000;
  opacity: 0.8;
  border-radius: 2px;
}

@media screen and (max-width: 540px) {
  .popup__submitbutton {
    width: 238px;
    margin: 45px 22px 25px;
  }
}
