.profile {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 146px repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "avatar info addbutton";
  align-items: center;
  justify-items: start;
  position: relative;
}

@media screen and (max-width: 960px) {
  .profile {
    max-width: 720px;
    grid-template-columns: 130px 300px 1fr;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    max-width: 282px;
    grid-template-columns: 1fr;
    grid-template-areas: "avatar" "info" "addbutton";
    justify-items: center;
  }
}
