.profile__info {
  width: 336px;
  margin: 0;
  grid-area: info;
  display: grid;
  grid-template-columns: 87.5% 1fr;
  grid-template-rows: 75% 25%;
}

@media screen and (max-width: 680px) {
  .profile__info {
    width: 300px;
  }
}

@media screen and (max-width: 620px) {
  .profile__info {
    width: 282px;
    align-items: center;
    justify-items: start;
    margin: 22px auto 0;
  }
}
