.popup__occupation {
  width: 358px;
  height: 27px;
  padding: 0;
  margin: 30px 36px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.popup__occupation::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__name::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__name::-moz-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__name::-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 540px) {
  .popup__name {
    width: 238px;
    margin: 75px 22px 0;
  }
}

@media screen and (max-width: 540px) {
  .popup__occupation {
    width: 238px;
    margin: 30px 22px 0;
  }
}
